/* ---------------------------------------------------- */
/* SLIDESHOW
/* ---------------------------------------------------- */
#slideshow {
width: 570px;
border: 1px solid #ddd;
}

#slideshow ul {
margin: 0;
padding: 0;
list-style-type: none;
height: 1%; /* IE fix */}

#slideshow ul:after {
content: ".";
clear: both;
display: block;
height: 0;
visibility: hidden;}            

/* ---------------------------------------------------- */
/* SLIDESHOW > SLIDES
/* ---------------------------------------------------- */
#slideshow .slides {
overflow: hidden;
height:215px;
width: 570px;}

#slideshow .slides ul {
width: 2880px;}

#slideshow .slides li {
height: 100%;
width: 570px;
float: left;
}

#slideshow .slides h2 {
margin-top: 0;}

/* ---------------------------------------------------- */
/* SLIDESHOW > NAVIGATION
/* ---------------------------------------------------- */
#slideshow .slides-nav {
display:block;
float:right;
top:-30px;
right:15px;
position:relative;
z-index:10;
background-color:#ccc;
opacity:0.4;
filter:alpha(opacity=40); /* For IE8 and earlier */
}

#slideshow .slides-nav li {
float: left;}

#slideshow .slides-nav li a {
color:black;
display: block;
padding: 5px 10px;
outline: none;}

.js #slideshow .slides-nav li.on,
.js #slideshow .slides-nav li.on a {
color:white;
background-color: #000000;}

.js #slideshow .slides-nav li.on a { 
position: relative;
/* top: -4px; */}



/* ---------------------------------------------------- */
/* FOR TESTIMONIALS */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* tesSlideshow
/* ---------------------------------------------------- */
#tesSlideshow {
width: 180px;
}

#tesSlideshow ul {
margin: 0;
padding: 0;
list-style-type: none;
height: 1%; /* IE fix */}

#tesSlideshow ul:after {
content: ".";
clear: both;
display: block;
height: 0;
visibility: hidden;}            

/* ---------------------------------------------------- */
/* tesSlideshow > SLIDES
/* ---------------------------------------------------- */
#tesSlideshow .slides {
overflow: hidden;
width: 180px;
} 

#tesSlideshow .slides li {
width: 180px; 
float: left;
}

#tesSlideshow .slides h2 {
margin-top: 0;}

/* ---------------------------------------------------- */
/* tesSlideshow > NAVIGATION
/* ---------------------------------------------------- */
#tesSlideshow .slides-nav li {
float: left;}

#tesSlideshow .slides-nav li a {
display: block;
padding: 15px 20px;
outline: none;}

.js #tesSlideshow .slides-nav li.on,
.js #tesSlideshow .slides-nav li.on a {
background-color: #eee;}

.js #tesSlideshow .slides-nav li.on a {
position: relative;
top: -4px;}

/* ---------------------------------------------------- */
/* gstSlideshow > NAVIGATION
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* FOR GST SIDEBOX */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* gstSlideshow
/* ---------------------------------------------------- */
#gstSlideshow {
width: 175px;

}

#gstSlideshow ul {
margin: 0;
padding: 0;
list-style-type: none;
height: 1%; /* IE fix */}

#gstSlideshow ul:after {
content: ".";
clear: both;
display: block;
height: 0;
visibility: hidden;}

/* ---------------------------------------------------- */
/* gstSlideshow > SLIDES
/* ---------------------------------------------------- */
#gstSlideshow .slides {
overflow: hidden;
width: 175px;
height: 76px;
}

#gstSlideshow .slides ul {
width: 175px;
height: 76px;}

#gstSlideshow .slides li {
width: 175px;
float: left;
}

#gstSlideshow .slides h2 {
margin-top: 0;}


/* ---------------------------------------------------- */
/* gstSlideshow > NAVIGATION
/* ---------------------------------------------------- */
#gstSlideshow .slides-nav {
/* background-color: #ddd;*/
/* border-top: 2px solid #ccc; */
}

#gstSlideshow .slides-nav li {
float: left;}

#gstSlideshow .slides-nav li a {
display: block;
padding: 15px 20px;
outline: none;}

.js #gstSlideshow .slides-nav li.on,
.js #gstSlideshow .slides-nav li.on a {
background-color: #eee;}

.js #gstSlideshow .slides-nav li.on a {
position: relative;
top: -4px;}

/* ---------------------------------------------------- */
/* whyShopSlideshow > NAVIGATION
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* FOR WHYSHOP SIDEBOX */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* whyShopSlideshow
/* ---------------------------------------------------- */
#whyShopSlideshow {
width: 175px;

}

#whyShopSlideshow ul {
margin: 0;
padding: 0;
list-style-type: none;
height: 1%; /* IE fix */}

#whyShopSlideshow ul:after {
content: ".";
clear: both;
display: block;
height: 0;
visibility: hidden;}

/* ---------------------------------------------------- */
/* whyShopSlideshow > SLIDES
/* ---------------------------------------------------- */
#whyShopSlideshow .slides {
overflow: hidden;
width: 175px;
height: 215px;
}

#whyShopSlideshow .slides ul {
width: 175px;
height: 215px;}

#whyShopSlideshow .slides li {
width: 175px;
float: left;
}

#whyShopSlideshow .slides h2 {
margin-top: 0;}


/* ---------------------------------------------------- */
/* whyShopSlideshow > NAVIGATION
/* ---------------------------------------------------- */
#whyShopSlideshow .slides-nav {
/* background-color: #ddd;*/
/* border-top: 2px solid #ccc; */
}

#whyShopSlideshow .slides-nav li {
float: left;}

#whyShopSlideshow .slides-nav li a {
display: block;
padding: 15px 20px;
outline: none;}

.js #whyShopSlideshow .slides-nav li.on,
.js #whyShopSlideshow .slides-nav li.on a {
background-color: #eee;}

.js #whyShopSlideshow .slides-nav li.on a {
position: relative;
top: -4px;}


